.end-class-modal-mask {
  background-color: #eeee;
  .modal {
    background-color: white;
  }
}

.reason {
  display: flex;
  height: 25px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.modal-close-btn {
  color: rgba(0,0,0,0.5);
  cursor: pointer;
}

.sub-reason {
  display: flex;
  height: 25px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.other-reason {
  border: 1px solid #eee;
  padding: 5px;
  &:focus {
    outline: none;
  }
}

.end-btn {
  color: #ffff;
}
